:root {
  --primary-color: #fff;
  --hero-section-background: linear-gradient(
    to bottom,
    #0367b3 40%,
    #074b85 100%
  );
  --nav-bar-height: 70px;
}

.hero-section {
  background-image: var(--hero-section-background);
  color: var(--primary-color);
  margin-top: var(--nav-bar-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25% 0;
}

img {
  width: 45%;
  height: 45%;
  border: 0.5px solid #fff;
  border-radius: 100%;
}

.professional-title {
  margin-top: 0;
  color: #e0eefe;
  font-weight: lighter;
}

.socials-container {
  display: flex;
  margin-top: 10px;
  width: 65%;
  justify-content: space-around;
}

.socials-container a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
}

button {
  height: 40px;
  width: 45%;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: transparent;
}

@media (min-width: 600px) {
  .hero-section {
    padding: 5% 0;
  }

  img {
    width: 15%;
    height: 45%;
    border: 0.5px solid #fff;
    border-radius: 100%;
  }

  .name {
    font-size: 2rem;
  }

  .professional-title {
    font-size: 1.5rem;
  }

  .socials-container {
    width: 35%;
  }
}
