@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

:root {
  --nav-bar-height: 70px;
  --scroll-behavior: smooth;
}

html {
  scroll-behavior: var(--scroll-behavior);
}

header {
  display: flex;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1000;
  height: var(--nav-bar-height);
  background-color: #fff;
  border-bottom: 1px solid #e2e8f0;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #0359a1;
  font-family: "Satisfy", cursive;
}

.logo-short {
  display: block;
}

.logo-long {
  display: none;
}

.nav-bar {
  background-color: #0359a1;
  position: relative;
  display: flex;
  transition: 0.4s;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px 8px;
  border-radius: 15px;
}

.bar1 {
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  width: 30px;
  margin-bottom: 8px;
  transition: 0.4s;
  height: 3px;
}

.bar2 {
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  width: 30px;
  position: absolute;
  transition: 0.4s;
  height: 3px;
}

.bar3 {
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  width: 30px;
  transition: 0.4s;
  height: 3px;
}

.bar4 {
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  width: 30px;
  margin-top: 8px;
  transition: 0.4s;
  height: 3px;
}

nav ul {
  list-style: none;
}

.nav-bar-mobile {
  display: none;
  position: fixed;
  top: var(--nav-bar-height);
  left: 0;
  right: 0;
  color: #fff;
  background-color: #0359a1;
  font-weight: bold;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.nav-bar-mobile li {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

h1 a {
  color: #0359a1;
}

.nav-bar-mobile a {
  color: #fff;
}

.nav-bar-big-screens a {
  color: #334155;
}

.nav-bar-big-screens {
  display: none;
}

@media (min-width: 600px) {
  .nav-bar-big-screens {
    display: flex;
    padding: 10px;
  }

  .nav-bar-big-screens ul {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
    margin: 0;
  }

  .nav-bar-big-screens li a {
    color: #334155;
    font-size: larger;
    text-decoration: none;
    /* font-weight: bold; */
  }

  .logo-short {
    display: none;
  }

  .logo-long {
    display: inline-block;
  }

  .nav-bar {
    display: none;
  }

  .nav-bar-mobile {
    display: none;
  }

  .nav-bar-big-screens a:hover {
    color: #0359a1;
  }
}
